/*!
=========================================================
* Portfolio
=========================================================

* Copyright: 2023
* Code by Hunter Nyasha

-----------------------------------------------------------
Table of Contents
===========================================================
  1. Reset & Typography 
  2. Nav & Banner
  3. About
  4. Get Started
  5. Our Features
  6. Cases
  7. Testimonial
  8. Faq
  9. Sec Features
  10. Sign Up
  11. Footer
  12. Media Query's
      0.1. 575px
--------------------------------------------------------

=========================================================

*/

@font-face {
  font-family: "NunitoReg";
  src: url("../fonts/NunitoRegular.ttf");
}
@font-face {
  font-family: "Jostreg";
  src: url("../fonts/JostRegular.ttf");
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMonoNerdFontMonoRegular.ttf");
}
body,
html {
  // background: #374957;
  overflow-x: hidden;
}
.loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #374957;
  align-items: center;
}
/* ------------------------------
  1. Nav & Banner
------------------------------ */
.banner {
  //   background: url("../images/homebg.png"),;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // background-color: rgba(0, 0, 0, 0.70);
  //   width: 100%;
  //     padding: 20% 0 40% 0;
  padding: 10% 0;
  background-color: #374957;
  h1 {
    color: #fff;
    font-family: "NunitoReg";
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  p {
    color: #fff;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .p-button {
    padding: 0.75rem 2.25rem;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.miniNav {
  a {
    color: rgba(255, 255, 255, 0.45);
    font-family: Jost;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 128.571% */
    padding: 0 10px;
    text-decoration: none;
  }
  a.active {
    color: #fff;
    font-weight: 900;
    font-family: "RobotoMono";
    font-size: 40px;
    text-shadow: 0px 4px 0px black;
  }
}
header {
  display: flex;
  align-items: center;
  background: #374957;
  height: 80px;
  padding: 0 2rem;
  .navbar-brand {
    color: #fff;
    font-family: "NunitoReg";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  nav {
    display: flex;
    align-items: center;
    .nav-link {
      font-size: 30px;
      font-weight: 600;
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-family: "NunitoReg";
    }
    .nav-link:hover {
      color: #018181;
    }
    .nav-link.active {
      color: #018181;
    }
  }
  .btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    opacity: 1;
  }
}

@media screen and (min-width: 320px) {
  header {
    justify-content: space-between;
    .navbar-brand {
      img {
        width: 50%;
      }
    }
    .btn {
      visibility: visible;
      opacity: 1;
      z-index: 99;
    }
    nav {
      position: fixed;
      top: -100vh;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      background-color: #374957;
      transition: 1s;
      z-index: 99;
      a:nth-child(4) {
        margin: 0;
      }
    }
    .responsive_nav {
      transform: translateY(100vh);
    }
  }
}
/* ------------------------------
 1. About
----------------------------- */
.about {
  background: #374957;
}
/* ------------------------------
 2. contact
----------------------------- */
.contact {
  background-color: #374957;
  padding: 50px 0 50px 0;
  h2 {
    font-size: 40px;
    color: white;
    font-family: "NunitoReg";
    font-weight: 800;
  }
  h3 {
    font-family: "Jostreg";
    color: white;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  p {
    color: #fff;
    font-family: "Jostreg";
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    width: 77%;
  }
  .p-inputtext-lg {
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 0;
    border: none;
    font-weight: 500;
  }
  label {
    font-size: 15px;
    font-family: "NunitoReg";
    font-weight: 500;
  }
  .textrea {
    width: 100%;
    color: black;
    border-radius: 0;
    font-weight: 500;
    border: none;
  }
  .p-button {
    color: black;
    background-color: #fff;
    border: 1px solid;
    padding: 0.75rem 7.25rem;
    font-family: "NunitoReg";
    font-size: 15px;
    font-weight: 700;
  }
}
.app {
  background-color: #374957;
}

.about {
  padding: 30px 0;
  h2 {
    font-size: 40px;
    color: white;
    font-family: "NunitoReg";
    font-weight: 700;
  }
  p {
    color: #fff;
    font-family: "Jostreg";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }
  h3 {
    font-size: 30px;
    color: white;
    font-family: "NunitoReg";
    font-weight: 700;
  }
  li {
    color: #fff;
    font-family: "Jostreg";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
  }
  .btn {
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-family: "NunitoReg";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 50px;
  }
}
.work {
  background-color: #374957;
  padding: 20px 0;
  .innerWork {
    .p-tabview {
      .p-tabview-nav {
        justify-content: space-evenly;
        border: 0;
        background-color: #374957;
        .p-tabview-nav-link {
          color: white;
          background: transparent;
          color: #fff;
          font-family: "Jostreg";
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .p-tabview-nav-link :hover {
          background: transparent;
        }
      }
      .p-tabview-panels {
        background: #374957;
      }
    }
  }

  .project {
    .p-card {
      border-radius: 7px;
      background: #fff;
      box-shadow: 6px 6px 7px 2px rgba(195, 195, 195, 0.15);
      text-align: end;
      .card-title {
        margin: -50px 0 20px 0;
        color: #000;
        font-family: "NunitoReg";
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      p {
        color: #000;
        font-family: "Jostreg";
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        text-align: start;
      }
      a {
        color: #000;
        font-family: "NunitoReg";
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
footer {
  background: #d9d9d9;
  padding: 25px 0 0 0;
  h4 {
    color: #000;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  h5 {
    color: rgba(0, 0, 0, 0.9);
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .footerNav {
    .nav-link {
      color: rgba(0, 0, 0, 0.9);
      font-family: "NunitoReg";
      font-size: 19px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 0px 15px;
    }
  }
  hr {
    color: #000;
    opacity: 10;
  }
  .copyRight {
    h4 {
      color: rgba(0, 0, 0, 0.9);
      font-family: "NunitoReg";
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
@media screen and (max-width: 425px) {
}
